<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCache.Lib" version="1.1.1" targetFramework="net461" />
  <package id="Baseclass.Contrib.Nuget.Output" version="2.4.3" targetFramework="net461" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net461" />
  <package id="EmguCV" version="3.1.0.1" targetFramework="net461" />
  <package id="Magick.NET-Q8-x64" version="7.5.0.1" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net461" developmentDependency="true" />
  <package id="OpenCvSharp3-AnyCPU" version="3.4.1.20181108" targetFramework="net461" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
</packages>