html,body 
{
  background-color: #181c20;
  font-family: 'Montserrat', sans-serif;
  font-family: 'PT Sans', sans-serif;
  height: 100%; 
  margin: 0;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.DropFileArea
{
  text-align: center;
  font-size: 170px;
  transition: all .2s ease-in-out; 
}

.DropFileArea:hover
{
  font-size: 190px;
}

.DropFileImage 
{
  transition: all .3s ease-in-out; 
  animation-iteration-count: 2;
}

.rotate5
{
  transform: rotate(5deg);
}

.rotate360
{
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.DropFileArea > nav > a 
{
  font-size: 14px;
}

.CodeCard {
  height: 100%;
  width: 55%;
  float: left;
  background-color: #303841;
  color: #eeeeee;
}

.CodeCard > div:first-child {
  align-self: flex-start;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5em;
}

.Card {
  width: 45%;
  float: right;
  height: 100%;
  background-color: #303841;
  color: #eeeeee;
}

.Card > div:first-child {
  align-self: flex-start;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5em;
}

.errorCodeLine {
  border-bottom: 1px dotted red;
}

.errorGlyphMargin {
  background: red;
  width: 15px;
  height: 15px;
}

.validResultGlyphMargin {
  background: green;
  width: 15px;
  height: 15px;
}

.result {
  height: 19px;
  font-size: 12px;
  color: green;
  margin-left:10px;
}

.error {
  height: 19px;
  font-size: 12px;
  color: red;
  margin-left:10px;
}