<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.4.3" targetFramework="net461" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net461" />
  <package id="EmguCV" version="3.1.0.1" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net461" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="2.0.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net461" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net461" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net461" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.5" targetFramework="net461" />
</packages>